<%# メモの編集ページ %>
<form action="/memos/<%= @memo[:id] %>" method="post">
  <div class="title">
    タイトル<input class="title_form" type="text" name="title" value="<%= @memo[:title] %>">
  </div>
  <div class="content">
    <label>内容</label>
      <textarea class="content_form" name="content"><%= @memo[:content] %></textarea>
  </div>
  <button class="button" type="submit" name="_method" value="PATCH">変更する</button>
</form>
