<%# メモの編集ページ %>
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>メモアプリ</title>
</head>
<body>
  <h1>メモアプリ</h1>
  <form action="/memos/:id" method="patch">
    <div>
      タイトル:<input type="text" name="title">
    </div>
    <div>
      内容:
      <textarea name="content"></textarea>
    </div>
    <div>
      <input type="submit" value="変更する">
    </div>
  </form>
</body>
</html>
