<%# メモの編集ページ %>
<form action="/memos/<%= @memo[:id] %>" method="post">
  <div class="title">
    タイトル: <input type="text" name="title" value="<%= @memo[:title] %>">
  </div>
  <div class="content">
    内容: <textarea name="content"><%= @memo[:content] %></textarea>
  </div>
  <div>
    <button class="delete_button" type="submit" name="_method" value="PATCH">変更する</button>
  </div>
</form>
