<%# メモの一覧（トップページ） %>
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>メモアプリ</title>
</head>
<body>
  <h1>メモアプリ</h1>
    <ul>
      <% @texts.each do |text| %>
      <li>
        <%= text.title %>
      </li>
      <% end %>
    </ul>
</body>
</html>
