<%# メモの一覧（トップページ） %>
<div class="memo_title">
  <p>メモ一覧</p>
  <button class="button" type="submit" onclick="location.href='/memos/new'">新規投稿</button>
</div>
<div class="memo_list">
  <%= @memos.map {|memo| "<a href=memos/#{memo[:id]}>#{memo[:title]}</a>"}.join("<br>") %>
</div>
