<%# メモの一覧（トップページ） %>
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>メモアプリ</title>
</head>
<body>
  <h1>メモアプリ</h1>
    <ul>
      <% @memos.each do |memo| %>
      <li>
        <%= link_to memo.title, '/memos/:id' %>
      </li>
      <% end %>
    </ul>
</body>
</html>
