<%# メモの新規投稿ページ %>
<form action="/memos/new" method="post">
  <div class="title">
    タイトル<input class="title_form" type="text" name="title">
  </div>
  <div class="content">
    <label>内容</label>
      <textarea class="content_form" name="content"></textarea>
  </div>
  <input class="button" type="submit" value="保存する">
</form>
