<%# メモの新規投稿ページ %>
<form action="/memos/new" method="post">
  <div class="title">
    タイトル: <input type="text" name="title">
  </div>
  <div class="content">
    内容: <textarea name="content"></textarea>
  </div>
  <div>
    <input type="submit" value="保存する">
  </div>
</form>
