<%# メモの詳細ページ %>
<div class="title"><%= @memo[:title] %></div>
<div class="content"><%= @memo[:content] %></div>
<div class="button">
  <button class="change_button" type="submit" onclick="location.href='/memos/<%= @memo[:id] %>/edit'" >変更する</button>
  <form action="/memos/<%= @memo[:id] %>" method="post">
    <button class="delete_button" type="submit" name="_method" value="DELETE">削除する</button>
  </form>
</div>
