<%# メモの詳細ページ %>
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>メモアプリ</title>
</head>
<body>
  <h1>メモアプリ</h1>
    <div class="title">
      <%= @memo.title %>
    </div>
    <div class="content">
      <%= @memo.content %>
    </div>
</body>
</html>
